<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Sorry unkonow error redirecting u soon
                <script>
                    console.log('<%=data.msg %>')
                    let fun = () => {
                        window.location.replace('http://localhost:8000/<%=data.redirect %>');
                    }
                        setTimeout(fun, 4000)
                    
                </script>
</body>
</html>