<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="socket.io/socket.io.js"> </script>
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/loading.css">
  <title>Register</title>
</head>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active">Register</h2>
      <a href="login">Login </a>

      <!-- Icon -->

      <!-- Register  Form -->

      <form action="register" method="POST">
        <h2>
          <%=data.msg%>
        </h2>
        <p id="nameMsg" class="nameMsg"></p>
        <input type="text" onkeyup="checkValidateName()" id="name" class="fadeIn second" name="name" placeholder="name" />
        <p id="emailMsg"> </p>
        <input type="email" onkeyup="checkValidateEmail()" id="email" class="fadeIn third" name="email"
          placeholder="email" />
        <p id="passwordMsg"></p>
        <input type="password" onkeyup="checkPass()" id="password" class="fadeIn third" name="password"
          placeholder="password"  />
        <p id="rePasswordMsg"></p>
        <input type="password" onkeyup="checkRepass()" id="rePassword" class="fadeIn third" name="rePassword"
        placeholder="rePassword"  />
                <input type="submit" onclick="reFresh()"class="fadeIn fourth" value="Sign Up" />
              </form>
      <!-- Remind Password -->
    </div>
  </div>
     
  <div class="bodyloder">
        <div class="loader "></div>
      </div>
  <script src="/public/js/register.js"></script>
  <script src="/public/js/main.js"></script>
  </script>
</body>

</html>